body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F4F4F9; /* Fondo blanco */
    color: #333333;
    text-align: center;
}

header {
    background-color: #3F51B5;
    color: #FFFFFF;
    padding: 20px 0;
    text-align: center;
    font-size: 2em;
    letter-spacing: 1px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: center;
    background-color: #3949AB;
    padding: 10px;
    flex-wrap: wrap;
}

nav a {
    color: #FFFFFF;
    padding: 8px 16px;
    text-decoration: none;
    margin: 5px;
    font-weight: 500;
    border-radius: 4px;
    background-color: #5C6BC0;
    font-size: 1.5em;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
    background-color: #303F9F;
}

.tittle {
    color: #333333;
    font-size: 1.8em;
    margin: 20px 0;
}

.container {
    background-color: #F0F0F0; /* Fondo más suave */
    padding: 40px;
    border-radius: 8px;
    margin: 20px auto;
    width: 80%;
    max-width: 800px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.product {
    background-color: #FFFFFF;
    margin-bottom: 30px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
    text-align: left;
}

.product img {
    width: 100%;
    border-radius: 8px;
}

.product h2 {
    font-size: 1.5em;
    color: #3F51B5;
    margin-bottom: 10px;
}

.product p {
    font-size: 1.2em;
    color: #333333;
}

.btn-comprar {
    background-color: #3F51B5;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

.btn-comprar:hover {
    background-color: #303F9F;
    transform: scale(1.05);
}

footer {
    background-color: #3F51B5;
    color: #FFFFFF;
    text-align: center;
    padding: 15px 0;
    font-size: 0.9em;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}

#lista-carrito li {
    list-style-type: none;
    padding: 10px;
    background-color: #FFFFFF;
    margin-bottom: 10px;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#lista-carrito button {
    background-color: #F44336;
    color: #FFFFFF;
    border: none;
    padding: 5px 10px;
    font-size: 0.9em;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#lista-carrito button:hover {
    background-color: #D32F2F;
}

#vaciar-carrito {
    background-color: #F44336;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    margin-top: 20px;
}

#vaciar-carrito:hover {
    background-color: #D32F2F;
}
