body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F4F4F9; /* Fondo blanco */
    color: #333333;
    text-align: center;
}

header {
    background-color: #3F51B5;
    color: #FFFFFF;
    padding: 20px 0;
    text-align: center;
    font-size: 2em;
    letter-spacing: 1px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: center;
    background-color: #3949AB;
    padding: 10px; /* Ajustado */
    flex-wrap: wrap;
}

nav a {
    color: #FFFFFF;
    padding: 8px 16px;
    text-decoration: none;
    margin: 5px;
    font-weight: 500;
    border-radius: 4px;
    background-color: #5C6BC0;
    font-size: 1.5em; /* Tamaño de fuente aumentado */
    transition: background-color 0.3s ease, transform 0.3s ease;
}

nav a:hover {
    background-color: #303F9F;
}




.tittle {
    color: #333333;
    font-size: 1.8em;
    margin: 20px 0;
}

.container {
    background-color: #F0F0F0; /* Fondo más suave */
    padding: 40px;
    border-radius: 8px;
    margin: 20px auto;
    width: 80%; /* Ancho ajustado para mayor organización */
    max-width: 800px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.contact-item {
    background-color: #FFFFFF;
    margin-bottom: 30px; /* Espacio entre cada item */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-item img {
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 50%;
}

.contact-item a {
    color: #3F51B5;
    font-weight: 500;
    text-decoration: none;
}

.contact-item a:hover {
    color: #303F9F;
}

footer {
    background-color: #3F51B5;
    color: #FFFFFF;
    text-align: center;
    padding: 15px 0;
    font-size: 0.9em;
    box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1);
}
